---
### NVIDIA Backup ###
- hosts: DC1, DC2
  gather_facts: yes
  vars:
    dest_path: "/root/{{ datacenter }}"
    folder: "{{ dest_path }}/{{ inventory_hostname }}/{{ ansible_date_time.date }}"
    filename: "{{ folder }}/backup_{{ ansible_date_time.date }}_{{ ansible_date_time.time }}.yaml"
    latest_file: "{{ dest_path }}/{{ inventory_hostname }}/latest/latest.yaml"

  tasks:
    - name: Creating backup folder if it does not exist
      file:
        path: "{{ folder }}"
        mode: 0775
        owner: root
        group: root
        state: directory
      delegate_to: localhost

    - name: Creating diff directory if it does not exist
      file:
        path: "{{ dest_path }}/{{ inventory_hostname }}/latest/"
        state: directory
        owner: root
        group: root
        mode: 0775
      delegate_to: localhost

    - name: Check startup.yaml exists
      stat:
        path: /etc/nvue.d/startup.yaml
      register: config_1

    - name: Backing up switch.yaml config file to localhost
      become: yes
      fetch:
        src: "/etc/nvue.d/startup.yaml"
        dest: "{{ filename }}"
        flat: yes
      when: config_1.stat.exists

    - name: Comparing previous and new config files
      shell: diff "{{ filename }}" "{{ latest_file }}" > "{{ dest_path }}/{{ inventory_hostname }}/latest/compared.yaml"
      register: diff_output
      ignore_errors: true
      changed_when: diff_output.rc == 1
      failed_when: diff_output.rc > 1
      delegate_to: localhost


    - name: Updating latest config file to compare with next backup
      command: cp "{{ filename }}" "{{ latest_file }}"
      delegate_to: localhost

